<?xml version="1.0" encoding="UTF-8"?>
<!--
  DozeAlert site: Classic ASP default docs + hard no-cache.
  If your host already sets Default Document, keep index.asp first in the list.
-->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.asp" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <remove name="Pragma" />
        <add name="Pragma" value="no-cache" />
        <remove name="Expires" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
